{% extends 'layouts/base.html' %}

{% block titre %} Home{% endblock %}

{% block content %} 
   <h1>#Accueil</h1> 
    <div src="/GestionDesEtudiants/templates/images/téléchargement.jpg">

    <div class="jumbotron jumbotron-fluid mt-4">
    <div class="container">
        <h1 class="display-5">Bienvenue dans MyEtudiant ! </h1>
        <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quis alias sed minima praesentium, recusandae asperiores sapiente quibusdam nemo? Minima, doloribus.
         Reprehenderit nesciunt fuga dolorem optio mollitia quis delectus rem!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Perspiciatis quaerat sint atque nobis vel quibusdam, in molestiae quasi numquam recusandae esse, facere veniam eaque beatae dicta, quis nesciunt hic at?</p>
    </div>
    </div>
{% endblock content %}