{% extends 'layouts/base_etudiant.html' %}

{% block title %} Create Semestre{% endblock title %}

{% block content_etudiant_app %}
    <h1>#Créer un semestre </h1>

    <div class="row">
        <div class="col-md m-auto">
            <div class="card card-body">
               <form method="POST">
                {% csrf_token %}
                    <div class="form-group col-lg-6">
                        <label for="nomSemestre">Nom Semestre</label>
                        <input type="text" id="nomSemestre" class="form-control" name="nomSemestre">
                    </div>
                 </div>

                <button type="submit" class="btn btn-primary">Créer</button>
            </form>
            </div>
        </div>
    </div>

{% endblock content_etudiant_app %}