
<style>
	.badge-t {
    padding-right: .2em;
    padding-left: .2em;
    border-radius: 10rem;
    }

</style>
<nav class="navbar navbar-expand-lg bg-secondary">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-4">
				<a href="{% url 'home' %}" class="menu_title">MyEtudiants | 
			</div>

			<div class="col-md-8">


				<ul class="navbar-nav">
			<li class="nav-item">
				<u>
					<a class="nav-link" href="{% url 'home' %}"> Acceuil</a>
				</u>
				
			</li>
			<li class="nav-item">
				<u>
					<a class="nav-link" href="{% url 'about' %}"> A propos</a>
				</u>
				
			</li>
			<li class="nav-item">
				<u>
					<a class="nav-link" href="{% url 'etudiants' %}"> Etudiant</a>
				</u>			
			</li>

			<li class="nav-item">
				<u>
					<a class="nav-link" href="{% url 'matiere' %}"> Matiere</a>
				</u>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{% url 'evaluation' %}"> Evaluation</a>
			</li>

			<li class="nav-item">
				<u>
					<a class="nav-link" href="{% url 'semestre' %}"> Semestre</a>
				</u>
			</li>

		</ul>
			</div>

		</div>
	</div>

</nav>
